@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #f9fafb;
  --foreground: #101828;
  --secondary-background: #ffffff;
  --secondary-foreground: #1e2939;
}

.dark {
  --background: #101828;
  --foreground: #f9fafb;
  --secondary-background:  #1e2939;
  --secondary-foreground: #ffffff;
}

@theme {
  --animate-marquee: marquee 2s linear;

  @keyframes marquee {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}
